<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- <link rel='stylesheet' href='/stylesheets/styles.css' /> -->
    <!-- <link rel='stylesheet' href='/stylesheets/users.css' /> -->
    <!-- <link rel='stylesheet' href='/stylesheets/registration.css' /> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  </head>
  <body>
    <div class="container">
    {{{body}}}
  </div>
  </body>
</html>
